h1{
    color:red;
    font-size: 25px;
    text-align: center;
}

.mainBorder {
border:#000 5px solid;
margin-top: 20px;
margin-bottom: 100px;
margin-left: 20px;
height: 1050px;
width: 1200px;
}

#input_user{
    padding: 10px;
    color:blue;
}

#but{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  margin: auto;
}

#result{
    color:RED;
    text-align: center;
    font-size: 20px;
}
